/*
Vars
*/

$white-three: #fafafa;
$dodger-blue: rgb(62,156,252);
$blue-box: #65b4f0;
$gray-option: #728694;
$gray-li: #f8fafa;
$dodger-blue-030: rgba(62,156,252,0.3);
$dodger-blue-045: rgba(62,156,252,0.45);
$white-four: #ffffff;
$purpley-grey: #9b9b9b;
$charcoal-grey: #4a4a4a;
$gray-visor: #eaf0f3;
$orange: #f5984c;
$gray-selector-arrow: #869cae;
$gray-selector-text-050: rgba(134,156,173,0.5);//#869cad;
$red-fail: #d0011b;


body {
    margin: 0;
}