@import '_config.scss';


._initial_state {
    position:relative;
    width: 100%;
    height: 910px;
    background-color: $white-three;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.containerTop {
    position:absolute;
    width: 100%;
    height: 448px;
    background-color: $dodger-blue;
    top: 0;
}

header {
    color: $white-four;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    h1 {
        padding-top: 76px;
        font-size: 38px;
        line-height: 0.92;
        
    }

    p {
        padding-top: 14px;
        font-size: 18px;
        line-height: 1.94;
    }
}

.help-block {
    visibility: visible;
    opacity: 1;
    color: $red-fail;
    margin-top: 34px;
}

.hideError {
    opacity: 0;
    margin-top: 64px;
}

.input-visor {
    margin-bottom: 9px;
    width: 202px;
    height: 56px;
    border: 0;
    background-color: $gray-visor !important;
    box-shadow: none; 
    padding: 6px 10px;
    color: $gray-selector-text-050;
}

.form-control::-webkit-input-placeholder, .input-total {
    color: $gray-selector-text-050;
}

.input-total {
        margin-bottom: 56.1px;
        width: 291px;
        height: 40px;
        border-radius: 4px;
        background-color: $gray-visor !important;
        box-shadow: none; 
        border: 0;
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 6px 10px;
        
        
    }
    

.calculator {
    width: 203px;
    margin: 0 0 0 65px;
    font-family: 'Open Sans', sans-serif;

    
    .btn-group {
        padding-left: 0;
    }
}

.btn-signals{
    margin-left: 10px;
}

.btn-text {
    position: relative;
    color: $dodger-blue;
}

.dot {
    font-size: 20px ;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin: 0;
}



.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn, .btn-calc {
    width: 47px;
    height: 47px;
    background-color: $dodger-blue-030;
    margin-right: 2px;
    margin-bottom: 1px;
    margin-top: 0 !important;
    border: none;

    &.btn-signal {
        margin-right: 0;
        font-size: 16px;
        font-weight: 700;
        width: 49px;
    }

    &.first-middle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.first-corner-top {
        border-bottom-left-radius: 0;
    }

    &.first-corner-bottom {
        border-top-left-radius: 0;
    }

    &.last {
        margin: 0;
    }
    
    &.last-middle {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.last-corner-top {
        border-bottom-right-radius: 0;
    }

    &.last-corner-bottom {
        border-top-right-radius: 0;
    }

    &:hover {
        background-color: $dodger-blue-045;
    }
}

.btn-zero {
    width: 95px;
}

.calculator-form {
    width: 291px;
    margin: 58px 65px 75px 65px;
}

.container_form {
    position: absolute;
    width: 688px;
    height: 440px;
    border-radius: 6px;
    background-color: $white-four;
    box-shadow: 0 0 20px 0 rgba(0, 5, 61, 0.1);
    margin: 0 auto;
    top: 25%;
    display: inline-flex;
}

.form-labels {
    font-size: 18px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $charcoal-grey;
    margin-bottom: 2.9px;

    sup {
       color: $orange;
       font-weight: 700;
    }
}

.btn-dropdown {
    width: 291px;
    margin-bottom: 24.1px;
    position: relative;
    border-radius: 4px;
    border: 0;
    height: 40px;
    background-color: $gray-visor;
    box-shadow: none;
    appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: $gray-selector-text-050;
    padding: 6px 10px;
    text-align: left;
}

.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active {
    color: $gray-selector-text-050;
    border: solid 1px $blue-box;
    cursor: text;

}


.btn-options {
     width: 291px;
     margin-top: 40px;
     color: $gray-option;
     

     .btn-option {
        padding: 6px 24.6px;
     }

     .btn-option:hover {
         background-color: $gray-li;
     }
}

.select-side {
    position: absolute;
    margin-left: 265px; 
    top: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 7.1px;
    height: 11.2px;

    span {
        width: 7.1px;
        top: 4px;
        font-size: .5em; 
        color: $gray-selector-arrow;
    }
}

.btn-calculate {
    width: 291px;
    height: 40px;
    border-radius: 4px;
    background-color: $white-four;
    border: solid 1px $dodger-blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $dodger-blue;
}

.btn-quot {
    width: 291px;
    height: 40px;
    border-radius: 4px;
    background-color: $dodger-blue;
    border: solid 1px $dodger-blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: $white-four;

}
.label-total {
    margin-top: 13px;
}



.container_footer {
    position:absolute;
    width: 100%;
    height: 128px;
    background-color: $white-four;
    bottom: 0;
    color: $purpley-grey;

}

.footerText {
    margin-left: 108px;
    margin-top: 49px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.0;
}

